<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" charset="utf-8" src="${request.contextPath}/statics/libs/jquery.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="${request.contextPath}/statics/plugins/layer/layer.js"></script>
    <title>微信扫码支付例子</title>
</head>
<body>
<form id="pay_form" method="post" >
    <h1>可乐特价：0.1元/罐 <input id="pay_submit" name="but" type="button" value="微信支付"/></h1>
</form>

<input type="text" id="name" name="name" /><button onclick="connection()">链接</button><br>
接收者名字：<input type="text" id="toUser" name="toUser"/><br>
内容：<input type="text" id="toMessage" name="toMessage">
<button onclick="sendMessage()">发送</button><br>
<span id="webSocket"></span>
</body>
<script>
    $(function(){
        $("#pay_submit").click(function(){
            buy('001');//传入可乐的ID号
        });

    });

    /**
     * 购买
     */
    function buy(productId){
        //打开付费二维码 -- 微信二维码
        layer.open({
            area: ['300px', '300px'],
            type: 2,
            closeBtn: false,
            title: false,
            shift: 2,
            shadeClose: true,
            content:'/pay/scanPay'
        });

        //重复执行某个方法
        // var t1 = window.setInterval("getPayState('" + productId + "')",1500);
    }

    // function getPayState(productId){
    //     var url = '/pay/payNotify';
    //     //轮询是否已经付费
    //     $.ajax({
    //         type:'post',
    //         url:url,
    //         data:{productId:productId},
    //         cache:false,
    //         async:true,
    //         success:function(json){
    //             if(json.result == 0){
    //                 location.href = '';
    //             }
    //         },
    //         error:function(){
    //             layer.msg("执行错误！", 8);
    //         }
    //     });
    // }

    var webSocket = null;
    function connection(){
        var userName = "";
        if('WebSocket' in window){//判断当前浏览器是否支持websocket
            webSocket = new WebSocket("ws://" + document.location.host + "/webSocket" + userName);
        }else{
            alert("浏览器不支持webSocket");
        }
        webSocket.onopen = function () {
            $("#webSocket").html("建立链接");
        };
        webSocket.onmessage = function (event) {
            alert(event.data);
            location.href = "http://www.baidu.com";
        };
        webSocket.onerror = function () {
            $("#webSocket").html("出现异常");
        };
        webSocket.onclose = function () {
            $("#webSocket").html("链接关闭");
        };
        webSocket.onbeforeunload = function () {//当浏览器窗口关闭的时候，应该关闭链接，防止出现异常
            if(webSocket != null){
                webSocket.close();
            }
        }
    }

    function sendMessage(){
        //获取到发送给谁
        var toUser = $("#toUser").value();
        //获取到发送的内容
        var toMessage = $("#toMessage").value();
        if(webSocket != null){
            var message = '{"toUser":"'+toUser+'","toMessage":"'+toMessage+'"}';
            webSocket.send(message);
        }
    }
</script>
</html>